body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "gala", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    overflow-x: hidden;
}

.fixed-header {
    top: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 0;
    background-color: #000000; /*Cor do fundo do Header*/
    color: #ffffff; /*Cor da letra do Header*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    opacity: 1;
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
    font-family: "gala", sans-serif;
    font-weight: 700;
    font-style: normal;
}

main {
    margin-top: 0px; /* Adjust this value to match the height of your header */
    height: auto;
    padding: 0px;
    line-height: 2.5;
    position: relative;
    padding-bottom: 0px;
}

.main-content {
    padding-bottom: 0px;
}

footer{
    background-color: transparent;
    color: #000;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 10pt;
    line-height: 2;
    margin-top: 0;
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
}

.footer {
    background-color: transparent;
    color: #000;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: opacity 1s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

p {
    margin: 0 0 0px;
}

.content {
    /*top: 103px;
    left: 0;*/
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    /*position: absolute;*/
}

.content.visible {
    opacity: 1;
}

/*.content.hidden {
    opacity: 0;
}*/

#content2 {
    margin-top: 0;
    opacity: 0; /* Set initial opacity to 0 */
    width: 100%;
    padding: 20px; /* Add padding to the content */
    box-sizing: border-box; /* Include padding in the height calculation */
    text-align: right; /* Align text to the right */
    background-color: black; /* Set background color */
    color: white; /* Set text color */
    z-index: 2; /* Ensure it's on top of other elements */
    overflow-x: hidden;
}

#content2.visible {
    opacity: 1;
    display: block;
    z-index: 2; /* Ensure it's on top */
}

#content1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
}

#content1 img {
    width: 475px;
    height: auto;
}

.text-left{
    text-align: left;
    margin: 20px;
}

.text-right{
    text-align: right;
    margin-right: 20px;
}

.content img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.switch {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    width: 100px;
    height: 34px;
    z-index: 1000;
    text-align: center;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 34px;
    background-color: #000;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFF;
    color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #FFF;
}

input:checked + .slider:before {
    transform: translateX(36px);
    background-color: #000;
}

.switch-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #333;
}

#switch-label-love {
    left: 25px;
    display: none;
}

#switch-label-hate {
    right: 25px;
}

input:checked ~ #switch-label-love {
    display: block;
}

input:checked ~ #switch-label-hate {
    display: none;
}